Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

codecov.yml:

coverage:
  status:
    project:
      default:
        enabled: false
      backend:
        flags: [backend]
        target: 95%
        threshold: 1%
      frontend-unit:
        flags: [frontend-unit]
        target: 95%
        threshold: 1%
      frontend-playwright:
        flags: [frontend-playwright]
        target: 95%
        threshold: 1%

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend-unit:
    carryforward: false
    paths:
      - frontend/src/
  frontend-playwright:
    carryforward: true
    paths:
      - frontend/src/

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Notes added by 'git notes add'
  9d017c2b61b92325533d442f0e0e5469a509d6f3
Due: none

test(stats): fix flaky loading state test by using domcontentloaded and longer delay
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

fix(glass): lower glass opacity so backdrop-filter blur is actually visible
  frontend/index.html
Due: none

chore(release): 1.29.4 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  1541e35edb9d5cf3f84b1a33cbcdf448731712af
Due: none

fix(ui): replace washed-out button gradients with solid accent color and remove blobs from stats/404 pages
  frontend/src/components/feedback-dialog.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/whats-new-dialog.ts
  frontend/src/pages/changelog-page.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/not-found-page.ts
  frontend/src/pages/stats-page.ts
Due: frontend-unit, frontend-playwright

fix(test): wait for countdown display before clock.fastForward in AudioContext tests
  frontend/src/retro-timer.spec.ts
Due: frontend-unit, frontend-playwright

fix(test): use Promise.all for waitForRequest+dispatch to prevent stale request matches
  frontend/src/groups.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.29.5 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  659feaba4ec0d254dea4474913f110a397ec6f0c
Due: none

refactor(glass): shift to near-opaque clean panels with crisp borders
  frontend/index.html
  frontend/src/components/retro-card.ts
  frontend/src/pages/home-page.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.29.6 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  f147316eb926f21c41b1a7cf78456c99fcc19a54
Due: none

feat(glass): restore blobs on 404+stats, strengthen facilitator-bar blur
  frontend/src/components/retro-board.ts
  frontend/src/pages/not-found-page.ts
  frontend/src/pages/stats-page.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  25057b8463ca21a13143a5e4fb5e348028e38aaa
Due: none

feat(feedback): add /feedback page, participant name, Sentry context, and fix sort-btn 403
  backend/src/models/feedback.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/feedback.py
  backend/tests/test_feedback.py
  frontend/src/api.ts
  frontend/src/components/feedback-dialog.ts
  frontend/src/components/retro-column.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/feedback-page.spec.ts
  frontend/src/main.ts
  frontend/src/pages/feedback-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/pages/stats-page.ts
  frontend/src/retro-column.spec.ts
  frontend/src/router.ts
  frontend/src/session-page.spec.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

test(coverage): add missing unit tests for setColumnSort, submitFeedback, clearBrand
  frontend/src/api.test.ts
  frontend/src/theme.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  77695de34d4030c621789341a5d205660641b20b
Due: none

chore: gitignore docs/superpowers (local plans only)
  .gitignore
Due: none

feat(voting): enforce max_votes_per_participant limit on add_vote
  backend/src/routers/cards.py
  backend/tests/test_cards.py
Due: backend

feat(voting): add max_votes_per_participant field to Session model
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/sessions.py
  backend/tests/test_sessions.py
Due: backend

feat(voting): show combined vote count and voted state on stack tile
  frontend/src/components/retro-column.ts
  frontend/src/groups.spec.ts
Due: frontend-unit, frontend-playwright

feat(voting): export countParticipantVotes and add max_votes_per_participant to Session type
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/pages/home-page.wtr.ts
  frontend/src/pages/session-page.wtr.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

feat(voting): hide vote buttons on individual cards inside expanded group
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/groups.spec.ts
Due: frontend-unit, frontend-playwright

feat(voting): add vote budget indicator and vote limit message
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-column.ts
  frontend/src/groups.spec.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

feat(voting): add max votes per participant to settings dialog
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

feat(voting): wire group-vote and group-unvote handlers in retro-board
  frontend/src/components/retro-board.ts
  frontend/src/groups.spec.ts
Due: frontend-unit, frontend-playwright

test(coverage): cover onVoteCard limit path and ignore timer callback in retro-board
  frontend/src/components/retro-board.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

test(coverage): add missing branch coverage for storage, retro-timer, stats-page, and vote-limit timer
  frontend/src/retro-timer.spec.ts
  frontend/src/session-page.spec.ts
  frontend/src/stats-page.spec.ts
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  31cdc15cb20fade3bf4c681bc2f5ebc9bb236221
Due: none

test(coverage): raise branch coverage to 95.13% with targeted CT tests
  frontend/src/board-notes.spec.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/session-page.spec.ts
  frontend/src/stats-page.spec.ts
  frontend/vite.config.ts
Due: frontend-unit, frontend-playwright

Revert "test(coverage): raise branch coverage to 95.13% with targeted CT tests"
  frontend/src/board-notes.spec.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/session-page.spec.ts
  frontend/src/stats-page.spec.ts
  frontend/vite.config.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.32.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  2e00797343aa44565d9aeff88c2807c1822eadef
Due: none

refactor: remove dead code and artificial coverage-only tests
  frontend/src/components/retro-card.ts
  frontend/src/components/whats-new-dialog.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/retro-timer.spec.ts
  frontend/src/router.ts
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

fix(reactions): restore null guard on card.reactions for legacy documents
  frontend/src/components/retro-card.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.32.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend
