Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

feat(admin): add /admin page with Sentry health and feedback panel
  frontend/src/admin-page.spec.ts
  frontend/src/main.ts
  frontend/src/pages/admin-page.ts
Due: frontend-unit, frontend-playwright

feat(nav): add public Stats link to home and session page headers
  frontend/src/home-page.spec.ts
  frontend/src/icons.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

test(stats): port reaction/funnel/lifetime coverage from admin to public stats tests
  backend/tests/test_stats.py
Due: backend

feat(feedback): extract feedback comment panel into reusable component
  frontend/src/components/feedback-panel.ts
  frontend/src/feedback-panel.spec.ts
Due: frontend-unit, frontend-playwright

refactor(stats): remove promoted fields and dead activity_heatmap from AdminStats
  backend/src/repositories/stats_repo.py
  backend/tests/test_stats.py
Due: backend

feat(router): register /admin route
  frontend/src/router.ts
Due: frontend-unit, frontend-playwright

refactor(stats): trim stats-page to pure public rendering, update PublicStats/AdminStats types
  frontend/src/pages/stats-page.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

docs: document /admin route and public stats split
  CLAUDE.md
  README.md
Due: none

test(api): fix stale getAdminStats mock referencing deleted activity_heatmap field
  frontend/src/api.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  b36f5c12072ee16180abeff61ecbfdc84957805b
Due: none

test(cards): add failing specs for unpublish and delete-published-card
  backend/tests/test_cards.py
  backend/tests/test_unpublish.py
Due: backend

feat(cards): add unpublish endpoint, block delete/unpublish of grouped cards
  backend/src/routers/cards.py
Due: backend

test(frontend): add failing spec for unpublish button on retro-card; add unpublishCard api call
  frontend/src/api.ts
  frontend/src/components/retro-card.wtr.ts
Due: frontend-unit, frontend-playwright

feat(cards): wire up delete/unpublish own published card in UI
  CLAUDE.md
  README.md
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  4ea99026433ab6db6abf1d91b8c46b2bb701f3c9
Due: none

test(feedback): add failing specs for Apprise notification on new feedback
  backend/tests/test_apprise_client.py
  backend/tests/test_feedback.py
Due: backend

chore(release): pin kubernetes.yaml image tags and auto-bump them per release
  .releaserc.json
  kubernetes.yaml
  scripts/bump_version.py
Due: none

feat(feedback): notify Apprise on new feedback submission
  backend/src/config.py
  backend/src/routers/feedback.py
  backend/src/services/apprise_client.py
  backend/tests/test_apprise_client.py
  backend/tests/test_feedback.py
Due: backend

docs: document Apprise feedback notifications (APPRISE_BASE_URL/APPRISE_KEY)
  CLAUDE.md
  README.md
  kubernetes.yaml
Due: none

chore(release): 1.37.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  81cb667a84fabe77cbb5bf6e2da791b7502a8866
Due: none

fix(feedback): prefix Apprise notification title with "Retrospekt"
  backend/src/routers/feedback.py
  backend/tests/test_feedback.py
Due: backend

chore(release): 1.37.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  ae893b8eb955e294f694e775652134da96c9e3de
Due: none

feat(notes): title field, checklist syntax, and edit UX polish
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/board-notes.spec.ts
  frontend/src/board-notes.test.ts
  frontend/src/components/board-notes.ts
  frontend/src/icons.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

docs: document board notes title, checklist, and edit UX
  CLAUDE.md
Due: none

docs: document theme-menu and halal mode
  CLAUDE.md
Due: none

feat(theme): add explicit theme preference + halal mode
  frontend/src/theme.test.ts
  frontend/src/theme.ts
Due: frontend-unit, frontend-playwright

feat(notes): add optional title field
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/notes.py
  backend/tests/test_notes.py
Due: backend

feat(theme): replace theme toggle button with popup menu + halal mode
  frontend/src/components/retro-card.ts
  frontend/src/components/theme-menu.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/feedback-page.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/not-found-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/session-page.spec.ts
  frontend/src/theme-menu.spec.ts
Due: frontend-unit, frontend-playwright

fix(ui): use theme-aware glass background instead of hardcoded white
  frontend/src/components/feedback-dialog.ts
  frontend/src/pages/home-page.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.38.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  4941345bbbf6f6623af597c880a1c2c6f007bfaa
Due: none

fix(theme): fix misaligned theme-menu on home page + swap to gear icon
  frontend/src/components/theme-menu.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.38.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  0ca0f23d0fad46445dc46b4eb14d4864928f5578
Due: none

feat(analytics): add Matomo tracking with router hook test
  frontend/index.html
  frontend/src/router.test.ts
  frontend/src/router.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.39.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Path conditions:
  backend: any of: backend/
  frontend-unit: any of: frontend/src/
  frontend-playwright: any of: frontend/src/
