Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

test(emoji-picker): expect the popup to stay within the viewport
  frontend/src/components/emoji-picker.wtr.ts
  frontend/src/popup-position.test.ts
Due: frontend-unit, frontend-playwright

fix(emoji-picker): keep the popup on-screen regardless of trigger position
  frontend/src/components/emoji-picker.ts
  frontend/src/popup-position.ts
Due: frontend-unit, frontend-playwright

feat(gif-service): search GIPHY and/or Tenor, merge whichever is configured
  backend/src/config.py
  backend/src/models/gif.py
  backend/src/services/gif_service.py
Due: backend

test(gif-service): expect a search over whichever GIF provider(s) are configured
  backend/tests/test_gif_service.py
Due: backend

test(gifs): expect a status endpoint and a proxied search endpoint
  backend/tests/test_gifs.py
Due: backend

feat(gifs): add GET /api/v1/gifs/status and /api/v1/gifs/search
  backend/src/main.py
  backend/src/routers/gifs.py
Due: backend

feat(gif-picker): add <gif-picker> — searches GIPHY/Tenor via the backend
  frontend/src/api.ts
  frontend/src/components/gif-picker.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

test(gif-picker): expect a hidden-until-configured search popup
  frontend/src/components/gif-picker.wtr.ts
Due: frontend-unit, frontend-playwright

feat(cards): wire <gif-picker> into the add-card toolbar
  frontend/src/components/retro-column.ts
  kubernetes.yaml
Due: frontend-unit, frontend-playwright

test(cards): expect <gif-picker> in the add-card toolbar
  frontend/src/retro-column.spec.ts
Due: frontend-unit, frontend-playwright

docs: document image detection, markdown, popup positioning, and GIF picker
  CLAUDE.md
  README.md
Due: none

test(ci): expect mark_feedback_fixed to mark feedback via the admin API
  backend/scripts/__init__.py
  backend/tests/test_mark_feedback_fixed.py
Due: backend

feat(ci): mark_feedback_fixed calls the admin API instead of Mongo directly
  .github/workflows/release.yml
  backend/scripts/mark_feedback_fixed.py
Due: backend

docs: document the admin-API-based feedback auto-fix and its continue-on-error
  CLAUDE.md
Due: none

chore(release): 1.44.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  f79cf736c21a5b51559f9b81df1905d7af55345d
Due: none

test(emoji-picker): expect the popup to escape a filtered ancestor's containing block
  frontend/src/components/emoji-picker.wtr.ts
Due: frontend-unit, frontend-playwright

fix(pickers): promote popup to the top layer, escaping filtered ancestors
  frontend/src/components/emoji-picker.ts
  frontend/src/components/gif-picker.ts
Due: frontend-unit, frontend-playwright

docs: document the containing-block root cause and top-layer fix
  CLAUDE.md
Due: none

ci: set the image on deploy, not just restart
  .github/workflows/docker-publish.yml
Due: none

ci: unblock the coverage gate, and stop it drifting unseen
  .github/workflows/ci.yml
  frontend/package.json
Due: none

ci: set the image on deploy, not just restart (#2)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  frontend/package.json
Due: none

test: raise coverage back toward the 94 target
  frontend/package.json
  frontend/src/admin-page-sentry.spec.ts
  frontend/src/analytics.spec.ts
  frontend/src/consent-banner.spec.ts
  frontend/src/emoji-picker.spec.ts
Due: frontend-unit, frontend-playwright

test: raise coverage back toward the 94 target (#3)
  frontend/package.json
  frontend/src/admin-page-sentry.spec.ts
  frontend/src/analytics.spec.ts
  frontend/src/consent-banner.spec.ts
  frontend/src/emoji-picker.spec.ts
Due: frontend-unit, frontend-playwright

test(notifications): expect self-raised prompts to dock, not block
  frontend/src/components/consent-banner.wtr.ts
  frontend/src/components/feedback-dialog.wtr.ts
  frontend/src/components/notification-dock.wtr.ts
  frontend/src/components/whats-new-dialog.wtr.ts
  frontend/src/consent-banner.spec.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

feat(notifications): dock feedback and what's-new instead of blocking
  CLAUDE.md
  README.md
  frontend/src/components/consent-banner.ts
  frontend/src/components/feedback-dialog.ts
  frontend/src/components/notification-dock.ts
  frontend/src/components/whats-new-dialog.ts
  frontend/src/main.ts
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

ci: stop a Codecov outage from failing the build
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.45.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  ba24999bf831cca56eeaaeb1a1449b2a41e48fd4
Due: none

test(notifications): cover notification-dock branches in the CT suite
  frontend/src/notification-dock.spec.ts
Due: frontend-unit, frontend-playwright

Path conditions:
  backend: any of: backend/
  frontend-unit: any of: frontend/src/
  frontend-playwright: any of: frontend/src/
