Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

test(stats-page): frontend Sentry section renders in admin panel
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

docs: add SENTRY_FRONTEND_PROJECT_SLUG to README, CLAUDE.md, kubernetes.yaml
  CLAUDE.md
  README.md
  kubernetes.yaml
Due: none

feat(stats-page): render backend and frontend Sentry health side by side
  frontend/src/pages/stats-page.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

feat(stats): add sentry_frontend field driven by SENTRY_FRONTEND_PROJECT_SLUG
  backend/src/config.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/stats.py
Due: backend

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  3cc00e035ebbe81300f420cd91d37d7cff2e56c0
Due: none

feat(jira-export): add per-card Jira export via ⋮ overflow menu
  CLAUDE.md
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-card.test.ts
  frontend/src/storage.test.ts
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

feat(reactions): add 🥓 to REACTION_EMOJI on frontend and backend
  backend/src/models/session.py
  frontend/src/components/retro-card.ts
  frontend/src/retro-card.spec.ts
Due: backend, frontend-unit, frontend-playwright

feat(reactions): add 🥓 to REACTION_EMOJI + fix CT branch coverage
  frontend/src/components/retro-card.ts
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

test(retro-card): cover disconnectedCallback via lifecycle navigation test
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

chore(coverage): suppress __decorateClass ghost branches from Istanbul
  frontend/src/components/retro-timer.ts
  frontend/vite.config.ts
Due: frontend-unit, frontend-playwright

Notes added by 'git notes add'
  a32e8d46f408397455785587b047f9e5e1d438b9
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

chore: ignore frontend/.nyc_report/ artifact
  .gitignore
Due: none

feat(settings): add facilitator settings dialog
  backend/src/models/requests.py
  backend/src/routers/sessions.py
  backend/tests/test_sessions.py
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/icons.ts
  frontend/src/session-page.spec.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  c4479a468c1a3cb9ebc882e91ed88bf59f2f56ad
Due: none

fix(jira-export): use CreateIssueDetails.jspa instead of !init endpoint
  frontend/src/components/retro-card.ts
  frontend/src/retro-card.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.20.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  afc08cf835a58884f20a221db7130f64a53d0277
Due: none

feat(jira-export): replace URL prefill with in-app export dialog
  frontend/src/components/retro-card.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-card.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  922f846d21bc0c404f453fb98142f28fb1361407
Due: none

feat(cards): add inline card text editing
  CLAUDE.md
  backend/src/models/requests.py
  backend/src/routers/cards.py
  backend/tests/test_cards.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/retro-card.spec.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  72f3c1d4348ee2bd887dca8f3694cc2d0ef5b639
Due: none

feat(notes): add collaborative board notes
  backend/src/main.py
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/notes.py
  backend/tests/test_notes.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/board-notes.spec.ts
  frontend/src/components/board-notes.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/icons.ts
  frontend/src/pages/home-page.wtr.ts
  frontend/src/pages/session-page.ts
  frontend/src/pages/session-page.wtr.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  510be2a78a55462e843483535e8784e880f62892
Due: none

feat(groups): add card drag-and-drop grouping
  CLAUDE.md
  backend/src/main.py
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/groups.py
  backend/tests/test_groups.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-card.wtr.ts
  frontend/src/components/retro-column.ts
  frontend/src/components/retro-column.wtr.ts
  frontend/src/groups.spec.ts
  frontend/src/icons.ts
  frontend/src/retro-card.test.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  292f5a56d44fdb9799af61a83a962d52eea54e40
Due: none

feat(open-facilitator): add open_facilitator mode
  CLAUDE.md
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/sessions.py
  backend/tests/test_open_facilitator.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/components/retro-timer.ts
  frontend/src/open-facilitator.spec.ts
  frontend/src/pages/home-page.wtr.ts
  frontend/src/pages/session-page.wtr.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  c67132abfbccb1ff9401a39f5415d13824f99885
Due: none

fix(groups): fix 3+ grouping, cross-column prevention, and visual containment
  CLAUDE.md
  backend/src/routers/groups.py
  backend/tests/test_groups.py
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/groups.spec.ts
Due: backend, frontend-unit, frontend-playwright

chore(hooks): auto-rebase before commit and push
  hooks/pre-commit
  hooks/pre-push
Due: none

chore(release): 1.25.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  6d983db1fcfd97a7b447487ee7d454db20ea3b60
Due: none

feat(open-facilitator): add open facilitator toggle to create session form
  backend/src/models/requests.py
  backend/src/routers/sessions.py
  backend/tests/test_sessions.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  hooks/pre-commit
Due: backend, frontend-unit, frontend-playwright

Path conditions:
  backend: any of: backend/
  frontend-unit: any of: frontend/src/
  frontend-playwright: any of: frontend/src/
