Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

codecov.yml:

coverage:
  status:
    project:
      default:
        enabled: false
      backend:
        flags: [backend]
        target: 95%
        threshold: 1%
      frontend-unit:
        flags: [frontend-unit]
        target: 95%
        threshold: 1%
      frontend-playwright:
        flags: [frontend-playwright]
        target: 95%
        threshold: 1%

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend-unit:
    carryforward: false
    paths:
      - frontend/src/
  frontend-playwright:
    carryforward: true
    paths:
      - frontend/src/

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Notes added by 'git notes add'
  0bbe659ca6224ce3fd13193d4de197cddc5db438
Due: none

fix(ci): make k8s deploy job wait for image build/push
  .github/workflows/docker-publish.yml
Due: none

chore(release): 1.39.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  194232c9a137d9cec6e19867f389bed13ca9dc88
Due: none

feat(analytics): switch to Matomo Tag Manager via a swappable TagManager layer
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/src/analytics.ts
  frontend/src/main.ts
  frontend/src/router.ts
Due: frontend-unit, frontend-playwright

test(analytics): cover Matomo Tag Manager provider and router pageview delegation
  frontend/src/analytics.test.ts
  frontend/src/router.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.40.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  cca7300d31fc3b5b55273b2783edde7e76ac1062
Due: none

fix(test): wait for copy feedback before reading _mtm in the copy_link CT test
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

feat(theme,session): track theme/halal toggles, copy link, and export as events
  frontend/src/pages/session-page.ts
  frontend/src/theme.ts
Due: frontend-unit, frontend-playwright

feat(api): track every mutating action through the TagManager layer
  frontend/src/api.ts
Due: frontend-unit, frontend-playwright

test(analytics): cover TagManager.trackEvent for category/action/name/value
  frontend/src/analytics.test.ts
Due: frontend-unit, frontend-playwright

test(theme,session): cover trackEvent for theme/halal toggles, copy link, export
  frontend/src/session-page.spec.ts
  frontend/src/theme.test.ts
Due: frontend-unit, frontend-playwright

feat(analytics): add trackEvent to the TagManager layer
  frontend/src/analytics.ts
Due: frontend-unit, frontend-playwright

docs: document trackEvent and the api.ts-centralized event instrumentation
  CLAUDE.md
Due: none

test(api): cover trackEvent firing for every mutating endpoint
  frontend/src/api.test.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.41.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  37e6b3dacac41f58ede7d41c6cbc5c63d8fc65c9
Due: none

chore(release): 1.42.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  ea2a10f3d5c29773f4461d6727dae3a4aecbcd6a
Due: none

test(session): expect name-collision guard and rename UI
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

fix(session): guard against duplicate participant names in a session
  CLAUDE.md
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

test(reactions): expect the full standard emoji set to be a valid reaction
  backend/tests/test_reactions.py
Due: backend

feat(reactions): accept the full standard emoji set, not a curated 7
  backend/src/data/emoji.json
  backend/src/models/session.py
Due: backend

feat(emoji-picker): searchable popup over the full standard emoji set
  frontend/src/components/emoji-picker.ts
  frontend/src/components/emoji-picker.wtr.ts
  frontend/src/emoji-data.ts
Due: frontend-unit, frontend-playwright

feat(cards): recognize http(s) links and image URLs in card text
  frontend/src/linkify.test.ts
  frontend/src/linkify.ts
Due: frontend-unit, frontend-playwright

feat(cards): wire up link/image rendering and the full-emoji reaction picker
  frontend/src/components/retro-card.ts
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

refactor(cards): replace the card-text emoji inserter with <emoji-picker>
  frontend/src/components/retro-column.ts
  frontend/src/retro-column.spec.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

test(storage): expect an analytics consent choice to persist
  frontend/src/storage.test.ts
Due: frontend-unit, frontend-playwright

feat(storage): persist an analytics consent choice
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

feat(privacy): add a non-blocking analytics consent banner
  frontend/src/components/consent-banner.ts
  frontend/src/components/consent-banner.wtr.ts
Due: frontend-unit, frontend-playwright

feat(privacy): add a /privacy page summarizing data collection
  frontend/src/pages/privacy-page.ts
  frontend/src/pages/privacy-page.wtr.ts
  frontend/src/router.test.ts
  frontend/src/router.ts
Due: frontend-unit, frontend-playwright

fix(privacy): don't track before consent, don't send names to Sentry
  frontend/src/main.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

docs: document name-collision guard, emoji picker, links, and privacy
  CLAUDE.md
  README.md
Due: none

chore(release): 1.43.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  f009de230282f37130a09a80984f42bf19743bd4
Due: none

chore(release): 1.44.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  kubernetes.yaml
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  2f10d1b5002d1ab1d63351f81f777ee2d78c0965
Due: none

test(cards): expect image detection by trying to load, plus inline markdown
  frontend/src/linkify.test.ts
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

feat(cards): detect images by trying to load them, add inline markdown
  frontend/src/components/retro-card.ts
  frontend/src/linkify.ts
Due: frontend-unit, frontend-playwright
