Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

codecov.yml:

coverage:
  status:
    project:
      default:
        enabled: false
      backend:
        flags: [backend]
        target: 95%
        threshold: 1%
      frontend-unit:
        flags: [frontend-unit]
        target: 95%
        threshold: 1%
      frontend-playwright:
        flags: [frontend-playwright]
        target: 95%
        threshold: 1%

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend-unit:
    carryforward: false
    paths:
      - frontend/src/
  frontend-playwright:
    carryforward: true
    paths:
      - frontend/src/

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

test(timer): increase remaining buffer for ding-sound flaky test
  frontend/src/retro-timer.spec.ts
Due: frontend-unit, frontend-playwright

test(timer): use page.clock for deterministic ding-sound tests
  frontend/src/retro-timer.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  a8bba6253352bddc194b328efd13a7fa30aa4110
Due: none

ci: remove Cloudflare bypass and kubectl deploy steps
  .github/workflows/docker-publish.yml
Due: none

feat(feedback): add user feedback system
  CLAUDE.md
  backend/src/dependencies.py
  backend/src/main.py
  backend/src/models/feedback.py
  backend/src/repositories/feedback_repo.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/feedback.py
  backend/tests/conftest.py
  backend/tests/test_feedback.py
  frontend/src/api.ts
  frontend/src/components/feedback-dialog.test.ts
  frontend/src/components/feedback-dialog.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/pages/session-page.ts
  frontend/src/pages/stats-page.ts
  frontend/src/storage.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(jira): remove Jira export integration
  CLAUDE.md
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-card.test.ts
  frontend/src/session-page.spec.ts
  frontend/src/storage.test.ts
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

feat(column): allow adding cards in discussing phase and add sort-by-votes toggle
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-column.ts
  frontend/src/retro-column.spec.ts
Due: frontend-unit, frontend-playwright

test(coverage): add tests and istanbul ignores to reach 95% branch threshold
  frontend/src/api.ts
  frontend/src/components/retro-column.ts
  frontend/src/feedback-dialog.spec.ts
  frontend/src/main.ts
  frontend/src/retro-card.spec.ts
  frontend/src/router.ts
  frontend/src/session-page.spec.ts
  frontend/src/stats-page.spec.ts
  frontend/vite.config.ts
Due: frontend-unit, frontend-playwright

fix(column): update WTR test to reflect add-area visible in discussing phase
  frontend/src/components/retro-column.wtr.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  6d038488b6a8b913f8d35446ba97ec1687b4eae0
Due: none

fix(cards): allow adding cards in discussing phase
  CLAUDE.md
  backend/src/routers/cards.py
  backend/tests/test_cards.py
Due: backend

chore(release): 1.27.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  5d6b9c0f2c85506e25ecb7b61fcd243d38ae73d5
Due: none

docs: add dependency-cruiser visualization graphs
  docs/dependency-graphs/frontend-components.svg
  docs/dependency-graphs/frontend-detailed.svg
  docs/dependency-graphs/frontend-overview.mmd
  docs/dependency-graphs/frontend-overview.svg
  docs/dependency-graphs/frontend-pages.svg
Due: none

refactor(stats): replace feedback table with card list layout
  frontend/src/pages/stats-page.ts
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

feat(session): sync vote sort across all participants via SSE
  CLAUDE.md
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/sessions.py
  backend/tests/test_columns.py
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/components/retro-column.ts
  frontend/src/pages/home-page.wtr.ts
  frontend/src/pages/session-page.wtr.ts
  frontend/src/retro-column.spec.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

feat(help): add features section to both help modals
  frontend/src/components/retro-board.ts
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  eec7be8cdc1377598fba2189db8e6d75d8836ca8
Due: none

feat(ui): glassmorphism redesign + changelog/whats-new feature
  .gitignore
  Makefile
  e2e/screenshots.spec.ts
  frontend/index.html
  frontend/package.json
  frontend/scripts/parse-changelog.ts
  frontend/src/changelog-highlights.ts
  frontend/src/components/background-blobs.ts
  frontend/src/components/feedback-dialog.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/components/whats-new-dialog.ts
  frontend/src/components/whats-new-dialog.wtr.ts
  frontend/src/generated/changelog.ts
  frontend/src/main.ts
  frontend/src/pages/changelog-page.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/not-found-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/pages/stats-page.ts
  frontend/src/router.ts
  frontend/src/storage.test.ts
  frontend/src/storage.ts
  frontend/vite.config.ts
  playwright.screenshots.config.ts
Due: frontend-unit, frontend-playwright

fix(whats-new): only show dialog when other sessions exist in history
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

test(storage): add semverGt unit tests and istanbul ignore unreachable branches
  frontend/src/storage.test.ts
  frontend/src/storage.ts
Due: frontend-unit, frontend-playwright

fix(hooks): pass VITE_BACKEND_URL=8001 to E2E pre-push check
  hooks/pre-push
Due: none

test(session-page): add CT specs for whats-new dialog trigger and dismissal
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

test(changelog): add CT specs for changelog-page and fix istanbul ignore in whats-new-dialog
  frontend/src/changelog-page.spec.ts
  frontend/src/components/whats-new-dialog.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  692e562f8b26a35e70d09f91363ba522e1682c16
Due: none

fix(build): add tsx as devDependency for parse-changelog prebuild script
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(gitignore): correctly ignore frontend/src/generated/ and untrack changelog.ts
  .gitignore
  frontend/src/generated/changelog.ts
Due: frontend-unit, frontend-playwright

fix(build): make changelog generation work in CI, Docker, and dev environments
  .github/workflows/docker-publish.yml
  compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/scripts/parse-changelog.ts
Due: none

chore(release): 1.29.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  d8eedf1b37de0ffc0bc1453f6846e7f9db586279
Due: none

fix(docker): prefix prod stage COPY paths for repo-root build context
  frontend/Dockerfile
Due: none

chore(hooks): skip nyc coverage check in pre-push, enforced in CI
  hooks/pre-push
Due: none

chore(release): 1.29.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  1fd72f5884fca218cc3db03c7411e12bbf1f3ee9
Due: none

fix(blobs): move drift keyframes into shadow DOM and make light-mode blobs visible
  frontend/src/components/background-blobs.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.29.3 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend
