Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

codecov.yml:

coverage:
  status:
    project:
      default:
        enabled: false
      backend:
        flags: [backend]
        target: 95%
        threshold: 1%
      frontend-unit:
        flags: [frontend-unit]
        target: 95%
        threshold: 1%
      frontend-playwright:
        flags: [frontend-playwright]
        target: 95%
        threshold: 1%

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend-unit:
    carryforward: false
    paths:
      - frontend/src/
  frontend-playwright:
    carryforward: true
    paths:
      - frontend/src/

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Notes added by 'git notes add'
  8968861df1f5ba85b7f86222331ece5a18b616a6
Due: none

fix(whats-new): mark changelog seen on dismiss to prevent repeat popup
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

ci: cache playwright browsers to speed up CI
  .github/workflows/release.yml
Due: none

ci: drop --with-deps from playwright install (ubuntu-latest has deps)
  .github/workflows/release.yml
Due: none

ci: add 5min timeout to playwright browser install step
  .github/workflows/release.yml
Due: none

ci: increase playwright browser install timeout to 15min for cold cache
  .github/workflows/release.yml
Due: none

ci: revert playwright changes, restore original install step
  .github/workflows/release.yml
Due: none

fix(ci): upgrade playwright to 1.60.0 to fix install hang on Node 24.16+
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: bump safe frontend deps (sentry, lit, tsx, typescript-eslint, eslint, playwright)
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore: migrate to vite 8, vitest 4, typescript 6, eslint 10, jsdom 29, nyc 18
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/groups.spec.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/feedback-page.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-timer.spec.ts
  frontend/src/session-page.spec.ts
  frontend/src/sse.test.ts
  frontend/tsconfig.json
Due: frontend-unit, frontend-playwright

fix(ci): regenerate package-lock.json on Node 24 to fix npm ci mismatch
  frontend/package-lock.json
Due: none

test(whats-new): update Later btn test to expect changelog marked seen on dismiss
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

fix(ci): lower nyc branch coverage threshold to 94% for nyc 18 remapping
  frontend/package.json
Due: none

chore: migrate to vite 8, vitest 4, typescript 6, eslint 10, jsdom 29, nyc 18 (#1)
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/groups.spec.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/feedback-page.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-timer.spec.ts
  frontend/src/session-page.spec.ts
  frontend/src/sse.test.ts
  frontend/tsconfig.json
Due: frontend-unit, frontend-playwright

chore(release): 1.32.3 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  a8248a0baf8d5c495612b720ee720affb4b04b7c
Due: none

ci: add k8s self-hosted deploy job
  .github/workflows/docker-publish.yml
Due: none

feat(board): max votes per participant + card edit fix + ponytail refactor
  backend/src/database.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/_shared.py
  backend/src/routers/cards.py
  backend/src/routers/groups.py
  backend/src/routers/notes.py
  backend/src/routers/sessions.py
  backend/src/routers/stats.py
  backend/tests/conftest.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/feedback-dialog.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/components/retro-help.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/feedback-page.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/retro-card.spec.ts
  frontend/src/router.ts
  frontend/src/storage.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  eb383ff7479fd255ac02cc3e78684b552fb0f320
Due: none

fix(api): truncate HTML error bodies + rollback card edit on 403
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.33.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  b0250f3a4b06eaa6d3a5b0645082c9036ce8b79d
Due: none

fix(docker): pin nginx base image to 1.27-alpine
  frontend/Dockerfile
Due: none

chore(release): 1.33.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  35200db4e2abaf3acd05120470adcd144ff159e4
Due: none

test(feedback): expect fixed_in_version field + uncapped recent feedback
  backend/tests/test_feedback.py
Due: backend

feat(feedback): add fixed_in_version field, admin PATCH endpoint, uncap recent feedback list
  backend/src/models/feedback.py
  backend/src/repositories/feedback_repo.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/feedback.py
Due: backend

feat(stats): split admin feedback into New/Resolved tabs with Ignore action
  frontend/src/pages/stats-page.ts
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

test(feedback): expect status field (new/ignored/fixed)
  backend/tests/test_feedback.py
Due: backend

feat(feedback): status field (new/ignored/fixed) replaces bare fixed_in_version PATCH
  backend/src/models/feedback.py
  backend/src/repositories/feedback_repo.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/feedback.py
  backend/tests/test_feedback.py
Due: backend

test(stats): expect feedback New/Resolved tabs + Ignore action
  frontend/src/api.ts
  frontend/src/stats-page.spec.ts
  frontend/src/types.ts
Due: frontend-unit, frontend-playwright

docs: document feedback status field, PATCH endpoint, and admin tabs
  CLAUDE.md
Due: none

feat(ci): auto-mark feedback fixed via Fixes-Feedback commit trailers on release
  .github/workflows/release.yml
  CLAUDE.md
  backend/scripts/mark_feedback_fixed.py
Due: backend

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  89efcb7e329e52434c7936a7775ed0e7dc7acfe6
Due: none

feat(stats): add reaction/cards/funnel/lifetime/feedback-ratings to PublicStats
  backend/src/repositories/stats_repo.py
Due: backend

test(stats): expect reaction/cards/funnel/lifetime/feedback-ratings on PublicStats
  backend/tests/test_stats.py
Due: backend

fix(changelog): scroll version card into view on hash navigation (Shadow DOM workaround)
  frontend/src/changelog-page.spec.ts
  frontend/src/pages/changelog-page.ts
Due: frontend-unit, frontend-playwright

test(stats): rewrite stats-page tests for public-only analytics
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright
