Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

codecov.yml:

coverage:
  status:
    project:
      default:
        enabled: false
      backend:
        flags: [backend]
        target: 95%
        threshold: 1%
      frontend-unit:
        flags: [frontend-unit]
        target: 95%
        threshold: 1%
      frontend-playwright:
        flags: [frontend-playwright]
        target: 95%
        threshold: 1%

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend-unit:
    carryforward: false
    paths:
      - frontend/src/
  frontend-playwright:
    carryforward: true
    paths:
      - frontend/src/

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

feat(theme): add URL-based CS brand theme (?theme=cs)
  frontend/index.html
  frontend/src/home-page.spec.ts
  frontend/src/main.ts
  frontend/src/theme.test.ts
  frontend/src/theme.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  656de4494405fe8fea32133b33d951c32a51dbc9
Due: none

feat(session-page): show CloudSuite logo in header when brand=cs
  frontend/src/icons.ts
  frontend/src/pages/session-page.ts
Due: frontend-unit, frontend-playwright

test(session-page): assert CS brand logo shown only when brand=cs
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  723f1a4fcdf768326ff659477d1bad1ab7b807ef
Due: none

fix(mobile): make toggle buttons clickable and fix column width on mobile
  frontend/src/components/retro-board.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  4fd1bace4e032621d3dda5517bb555db2e485a2e
Due: none

fix(ui): fix mobile header overflow, dark-mode icon color, and CS brand light-only mode
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/session-page.spec.ts
  frontend/src/theme.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  401e705467db4f3b3888f7f8812d1a1806fac43f
Due: none

feat(stats): add /stats page with public + admin analytics
  backend/pyproject.toml
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/stats.py
  backend/tests/conftest.py
  backend/tests/test_stats.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/main.ts
  frontend/src/pages/stats-page.ts
  frontend/src/router.ts
  frontend/src/stats-page.spec.ts
  frontend/src/types.ts
  kubernetes.yaml
Due: backend, frontend-unit, frontend-playwright

test(stats-page): add CT tests and fix branch coverage to reach 100%
  frontend/src/pages/stats-page.ts
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  6c95513efe7ef296ca86ccf4bf99d20541858d24
Due: none

chore(k8s): increase backend memory limits to 128Mi/192Mi for argon2id
  kubernetes.yaml
Due: none

feat(stats): add session lifetime analytics to admin stats
  backend/src/dependencies.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/stats.py
  backend/tests/conftest.py
  backend/tests/test_stats.py
  frontend/src/pages/stats-page.ts
  frontend/src/stats-page.spec.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  81fe1f79c2aa9a7315d765b736c01da877b754e3
Due: none

test(stats): add Sentry health tests
  backend/tests/test_sentry_service.py
  backend/tests/test_stats.py
  frontend/src/stats-page.spec.ts
Due: backend, frontend-unit, frontend-playwright

docs: sync README and CLAUDE.md with current feature set
  CLAUDE.md
  README.md
Due: none

feat(stats): add Sentry health to admin stats
  CLAUDE.md
  README.md
  backend/pyproject.toml
  backend/src/config.py
  backend/src/repositories/stats_repo.py
  backend/src/routers/stats.py
  backend/src/services/sentry_service.py
  backend/uv.lock
  frontend/src/pages/stats-page.ts
  frontend/src/types.ts
  kubernetes.yaml
Due: backend, frontend-unit, frontend-playwright

test(stats-page): add branch coverage for sentry chart null values
  frontend/src/stats-page.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  791c80a26e2754ddfc83c28772be1f10ea76dfc6
Due: none

fix(sentry-service): resolve numeric project ID before events-stats calls
  backend/src/services/sentry_service.py
  backend/tests/test_sentry_service.py
Due: backend

chore(release): 1.17.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  fec7f228f2333be8743622ba3e01f42a0adee9cf
Due: none

fix(frontend): disable Cloudflare caching for env.js
  frontend/nginx.conf
Due: none

chore(release): 1.17.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  f8b8a3ea786c7721a0e2d3794cdfd998a7f41b7b
Due: none

fix(frontend): opt env.js out of Cloudflare Rocket Loader
  frontend/index.html
Due: none

chore(release): 1.17.3 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  2fe82386f6379fcea7110af5ea3068f26d6276e0
Due: none

fix(frontend): bust browser cache for env.js with query version
  frontend/index.html
Due: none

chore(release): 1.17.4 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

Notes added by 'git notes add'
  edc70d1b5696f5a361cc1bbf7e180c9d6eee87e1
Due: none

test(stats): admin endpoint includes sentry_frontend when frontend project configured
  backend/tests/test_stats.py
Due: backend
