Repository stevendejongnl/retrospekt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-playwright

Notes added by 'git notes add'
  c40d16ec8453675fce347837e549d340caf403f4
Due: none

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: backend

test(frontend): reach 100% utility coverage and fix Playwright istanbul glob
  frontend/src/router.test.ts
  frontend/src/sse.test.ts
  frontend/src/theme.test.ts
  frontend/vite.config.ts
Due: frontend-unit, frontend-playwright

test(playwright): add home-page interaction specs covering create, templates, theme, and history
  frontend/src/home-page.spec.ts
Due: frontend-unit, frontend-playwright

test(playwright): add session-page interaction specs with mocked API and SSE
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

chore: add .nyc_output to .gitignore and set 95% coverage targets
  .gitignore
  codecov.yml
Due: none

chore: enforce 95% coverage threshold on all layers
  .github/workflows/ci.yml
  backend/pyproject.toml
  frontend/package.json
  frontend/vite.config.ts
Due: backend

chore(hooks): move git hooks into tracked hooks/ directory
  Makefile
  hooks/pre-commit
  hooks/pre-push
  hooks/shared.sh
Due: none

test(playwright): add Playwright specs to reach 95% branch coverage
  frontend/src/home-page.spec.ts
  frontend/src/retro-card.spec.ts
  frontend/src/retro-column.spec.ts
  frontend/src/retro-timer.spec.ts
  frontend/src/session-history.spec.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

docs(readme): revalidate and add codecov badge
  README.md
Due: none

docs(readme): add GitHub release badge
  README.md
Due: none

docs(readme): fix CI badge to use release workflow
  README.md
Due: none

fix(config): replace deprecated class-based Config with SettingsConfigDict
  backend/src/config.py
Due: backend

chore(hooks): parallel jobs with suppressed output and spinner
  hooks/pre-commit
  hooks/pre-push
  hooks/shared.sh
Due: none

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: backend

Notes added by 'git notes add'
  53878e55e3fde285863006f967b728f2c9c2ab15
Due: none

fix(frontend): run envsubst on nginx template in custom entrypoint
  frontend/docker-entrypoint.sh
Due: none

Notes added by 'git notes add'
  b8d76aa912d2a0c8e6ba491882d389fcd728930a
Due: none

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: backend

docs(conventions): document TDD red/green/refactor workflow
  CLAUDE.md
Due: none

feat(timer): add completion ding sound with mute toggle
  frontend/src/components/retro-timer.ts
  frontend/src/icons.ts
Due: frontend-unit, frontend-playwright

feat(reactions): make emoji reactions opt-in at session creation
  CLAUDE.md
  backend/src/models/requests.py
  backend/src/models/session.py
  backend/src/routers/sessions.py
  backend/tests/test_sessions.py
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/retro-board.ts
  frontend/src/components/retro-board.wtr.ts
  frontend/src/components/retro-card.ts
  frontend/src/components/retro-column.ts
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/home-page.wtr.ts
  frontend/src/pages/session-page.wtr.ts
  frontend/src/retro-card.spec.ts
  frontend/src/types.ts
Due: backend, frontend-unit, frontend-playwright

chore(nox): add frontend test sessions and include them in check
  noxfile.py
Due: none

chore(gitignore): remove screenshot and ignore MCP artifacts and images
  .gitignore
  smoke-board.jpg
Due: none

test(timer): add CT tests for mute toggle and ding sound
  frontend/src/retro-timer.spec.ts
Due: frontend-unit, frontend-playwright

chore(hooks): exit early if branch needs rebasing before running checks
  hooks/pre-push
Due: none

test(timer): increase headroom and toPass timeout to fix flaky AudioContext test
  frontend/src/retro-timer.spec.ts
Due: frontend-unit, frontend-playwright

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: backend

Notes added by 'git notes add'
  53e0f0a49846a27203a6a3c85c8849c32eb1b3a0
Due: none

chore(release): bump root package.json in semantic-release
  .releaserc.json
Due: none

feat(ux): redirect to home with banner on invalid session, improve 404 page
  frontend/src/home-page.spec.ts
  frontend/src/pages/home-page.ts
  frontend/src/pages/not-found-page.ts
  frontend/src/pages/session-page.ts
  frontend/src/router.spec.ts
  frontend/src/router.test.ts
  frontend/src/router.ts
  frontend/src/session-history.spec.ts
  frontend/src/session-page.spec.ts
Due: frontend-unit, frontend-playwright

test(wtr): update WTR tests for 404 copy and session redirect
  frontend/src/pages/not-found-page.wtr.ts
  frontend/src/pages/session-page.wtr.ts
Due: frontend-unit, frontend-playwright

Notes added by 'git notes add'
  e4fd00204d225d5c7656807e69ebcc6daafb4ba4
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend

docs: add preview screenshots and clean up docs
  .gitignore
  CLAUDE.md
  README.md
  docs/assets/screenshot-board.jpg
  docs/assets/screenshot-home.jpg
  kubernetes.yaml
Due: none

chore: untrack .playwright-mcp/ console logs
  .playwright-mcp/console-2026-02-23T21-50-57-771Z.log
  .playwright-mcp/console-2026-02-23T21-56-52-840Z.log
  .playwright-mcp/console-2026-02-23T22-00-36-001Z.log
  .playwright-mcp/console-2026-02-23T22-01-16-551Z.log
  .playwright-mcp/console-2026-02-23T22-02-29-225Z.log
Due: none

chore(hooks): skip spinner when stdout is not a TTY
  hooks/shared.sh
Due: none

test(ct): inject session state directly to fix canAssign race condition
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

test(ct): extend loadSession DI pattern to all retro-card capability-flag tests
  frontend/src/retro-card.spec.ts
Due: frontend-unit, frontend-playwright

chore(hooks): strip ANSI colours from non-TTY output
  hooks/shared.sh
Due: none

Path conditions:
  backend: any of: backend/
  frontend-unit: any of: frontend/src/
  frontend-playwright: any of: frontend/src/
